<a href="https://colab.research.google.com/github/Zee-Mo/Data_602/blob/main/Assignment1Question1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
high_score = 95

test1 = float(input('Enter the first test score: '))
test2 = float(input('Enter the second test score: '))
test3 = float(input('Enter the third test score: '))

# Calculate the average of the three scores

average = (test1 + test2 + test3) / 3.0
#Print the average
print('The average score is', average)

#If the average is a high score,
#congratulate the user
if average >= high_score:
  print('Congratulations')
print('That is a great average')

Enter the first test score: 100
Enter the second test score: 95
Enter the third test score: 97
The average score is 97.33333333333333
Congratulations
That is a great average

# New Section